:root {
    --road-white: #ebeff2;
    --road-green: #2f3527;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: var(--road-white);
}

.single-page {
    font-family: 'Roboto', sans-serif;
    color: var(--road-white);
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.single-page::-webkit-scrollbar {
    display: none;
}

.scroll-area{
    scroll-snap-align: start;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-img-container{
    display: flex;
}

.bg-img-container::before{
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
}

#home-container{
    align-items: center;
    justify-content: center;
    height: 100svh;
}

#home-container::before{
    background-image: url("my-road.jpg");
}

.quote-container {
    display: flex;
    position: absolute;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2vmax;
    text-align: center;
}

#education-container{
    align-items: end;
    height: 70svh;
}
#education-container::before{
    background-image: url("aarhus-universitet.jpg");
}

.education-text-container{
    display: flex;
    position: absolute;
    margin-bottom: -5vmax;
    margin-left: 4%;
}

.education-text-container h1{ font-size: 7vmax;}

#education-green-container{
    display: flex;
    height: 30svh;
    background-color: var(--road-green);
}

#education-text{
    display: flex;
    flex-direction: column;
    margin-top: 6vmax;
    margin-left: 4%;
}

#work-container{
    height: 70svh;
}

#work-container::before{
    background-image: url("denmark.png");
}

#work-experience-container{
    display: flex;
    height: 30svh;
    background-color: rgb(82, 130, 201);
    justify-content: center;
    align-items: center;
}

#passion-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

#past-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

#future-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

@media only screen and (max-device-width: 1366px) {
    .bg-img-container::before{
      background-attachment: scroll;
    }
}