:root {
    --road-white: #ebeff2;
}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.d-flex{
    position: relative;
}

.quote-container {
    position: absolute;
    height: 50%;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2vw;
    color: var(--road-white);
}


nav{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: var(--road-white);
}