body{
    background-color: blanchedalmond;
}

h1{
    background-color: white;
    color:darkblue;
}

h3{
    background-color: black;
    color:aliceblue;
}

img {
    height: 160px;
    height: 160x;
}