@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-family: 'Chivo Mono', monospace;
}
body{
    background-color: blanchedalmond;
}

h1{
    background-color: white;
    color:darkblue;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

h3{
    background-color: black;
    color:aliceblue;
    text-align: center;
}

img {
    max-width:100%;
    border-radius: 20%;
}

.left-menu {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-menu h3
{
    background-color:darkmagenta;
    color:aliceblue;
    text-align: center;
}

.right-menu{
    margin-left: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-menu h3
{
    background-color:darkblue;
    color:aliceblue;
    text-align: center;
}

.container{
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 24px;
}

#public-picture{
    max-width: 160px;
    min-width: 100px;
}

#public-text{
    flex: auto;
}
    
@media (max-width: 600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}