:root {
  --vs-black: #081a1c;
}

body {
  /* Hides scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--vs-black);
  color: white;
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.bg-img-container {
  display: flex;
}

.bg-img-container::before {
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#top-container {
  height: 40svh;
  align-items: end;
  justify-content: center;
}

#top-container::before {
  background-image: url("aros.jpg");
  background-size: auto 90vmax;
  background-position-y: -40vmax;
}

#education-container {
  height: 40svh;
}

#education-container::before {
  background-image: url("aarhus-universitet.jpg");
  background-position-y: 16vmax;
}

#profile-picture-container {
  display: block;
  position: absolute;
  width: 30vh;
  min-width: 15vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: min(-15vh,-8vw);
  background-image: url("me-color.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 10%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introduction-container {
  margin-top: max(21vh,12vw);;
}

#introduction-container h3 {
  font-family: "Sono", sans-serif;
  font-style: bold;
  font-size: larger;
  font-style: italic;
}

#about-me-container {
  margin-top: 4%;
  margin-bottom: 4%;
}

.text-row {
  font-family: "Sono", sans-serif;
  text-align: justify;
  line-height: 2;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* useful 
  border-color: blue;
  border-style: solid;
   */
