@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Shadows+Into+Light&display=swap');

:root {
    --raisin-black: #1A202C;
    --thulian-pink:#E56399;
    --asparagus:#60A561;
    --white-smoke:#F6F4F3;
    --xanthous:#F7B32B;
}

body{
    background-color: var(--raisin-black);
    min-height: 100vh;
  }

.navbar{
    background-color: var(--xanthous);
    font-family: 'Kanit', sans-serif;
    font-size: medium; 
}

.navbar-brand{
    font-family: 'Shadows Into Light';
    font-size: xx-large;
    color: var(--raisin-black);
}

.me-arrow{
    max-width: 100%;
}

.meme{
    max-width: 100%;
    border-radius: 10%;
}

.me-text{
    font-family: 'Shadows Into Light';
    font-size: 10vw;
    color: var(--xanthous);
}

.hi-text{
    font-family: 'Shadows Into Light';
    color: var(--xanthous);
}



.about-me-text{
    font-family: 'Kanit', sans-serif;
    color: var(--white-smoke);
}

.about-me-text span{
    font-size: large;
    font-family: 'Shadows Into Light';
    color: var(--asparagus);
}