@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Shadows+Into+Light&display=swap');

:root {
    --raisin-black: #1A202C;
    --thulian-pink:#E56399;
    --asparagus:#60A561;
    --white-smoke:#F6F4F3;
    --xanthous:#F7B32B;
}

img{
    max-width: 100%;
}

body{
    background-color: var(--raisin-black);
    min-height: 100vh;
  }

.navbar{
    background-color: var(--xanthous);
    font-family: 'Kanit', sans-serif;
    font-size: medium; 
}

.navbar-brand{
    font-family: 'Shadows Into Light';
    font-size: xx-large;
    color: var(--raisin-black);
}


.meme{
    border-radius: 10%;
    border-color: var(--xanthous);
    border-style: solid;
}

.me-text{
    font-family: 'Shadows Into Light';
    font-size: 10vw;
    color: var(--xanthous);
}

.hi-text{
    font-family: 'Shadows Into Light';
    color: var(--xanthous);
}



.about-me-text{
    font-family: 'Kanit', sans-serif;
    font-size: large;
    color: var(--white-smoke);
}

.green{
    font-size: larger;
    font-family: 'Shadows Into Light';
    color: var(--asparagus);
}

.pink{
    font-size: large;
    font-family: 'Shadows Into Light';
    color: var(--thulian-pink);
}