@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-family: 'Chivo Mono', monospace;
}
body{
    background-color: #041b15;
    color: antiquewhite;
}

h1{
    background-color: #832232;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

h3{
    background-color: #f8c630;
    color:black;
    text-align: center;
}

img {
    max-width:100%;
    border-radius: 20%;
}

.container{
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 24px;
}

#public-picture{
    max-width: 160px;
    min-width: 100px;
}

#public-text{
    flex: auto;
}
    
@media (max-width: 600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}