@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-family: 'Chivo Mono', monospace;
}
body{
    background-color: #041b15;
    color: antiquewhite;
}

h1{
    background-color: #832232;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

h3{
    background-color: #f8c630;
    color:black;
    text-align: center;
}

.page-container{
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.public-container{
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 24px;
}

.public-container img{
    max-width: 160px;
    min-width: 100px;
    border-radius: 20%;
}

#public-text{
    flex: auto;
}

.grid-menu-container{
    display:grid;
    grid-template-columns: minmax(100px,35vw) minmax(100px,35vw);
}

.grid-menu-item{
    aspect-ratio: 1/1;
}

.grid-menu-container img{
    height: 100%;
    display: block;
}
    
@media(max-width: 600px){
    .public-container{
        flex-direction: column;
        align-items: center;
    }
}